#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 70px;
  font-family: Courier, monospace;
  text-align: center;
}

#grid {
  flex: 1;
  display: grid;
  border-width: 2px;
  min-width: 450px;
  min-height: 450px;
  border-color: rgb(10, 10, 10);
  border-style: solid;
}

#grid>div {
  background-color: white;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
  border-style: solid;
}

#grid>div:hover {
  background-color: grey;
}

.buttons-div>button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 15px;
  font-family: monospace;
  color: white;
  border-style: none;
  font-weight: 900;
  margin-left: 25px;
  cursor: pointer;
}

#resetBtn {
  background-color: red;
}

.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#eraseBtn {
  background-color: black;
  border: 1px solid black;
}

.adjust {
  display: flex;
  text-align: center;
}

.buttons-div>button:active {
  transform: translate(0px, 2px);
}

.buttons-div>button:hover {
  opacity: 0.8;
}

#rainbowBtn {
  background-color: indigo;
  border: 1px solid indigo;
}